@use 'sass:map';

$icons: (
  arrow-right-up-line: '\ea70',
  arrow-right-line: '\ea6c',
  asterisk: '\ea81',
) !default;

@mixin use-icon($name, $family: 'remixicon') {
  content: map.get($icons, $name);
  font-family: $family !important;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

.card-image-wrapper {
  overflow: hidden;
  max-width: 100%;
  height: 150px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

body:not(.dimmable.dimmed.scrolling) {
  .select-template-modal {
    max-height: 90vh;
    overflow-y: auto;
  }
}

.select-template-modal {
  .actions::after {
    display: none;
  }
}

.create-template-modal {
  .content {
    .info-title {
      font-size: 1.2rem;
    }

    .required-field-popup {
      color: red;
    }

    .fields {
      display: flex;
      width: 100%;
      gap: 30px;

      .field {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 35px;
        color: #292623;

        &.required label::after {
          display: inline-block;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          margin-left: 10px;
          background-color: transparent;
          color: red;
          content: '';

          @include use-icon('asterisk');
        }

        label {
          padding-bottom: 7px;
          font-size: 14px;
          font-weight: 500;
        }

        input,
        textarea {
          height: 60px;
          padding: 0.58035714em 0;
          border-width: 0 0 0.0625rem 0;
          border-style: solid;
          border-color: #e5e5e5;
          border-radius: 0;
          -webkit-appearance: none;
          box-shadow: 0 0 0 0 transparent inset;
          color: #292623;
          font-size: 19px;
          line-height: 1.21428571em;
          outline: none;
          transition:
            color 0.1s ease,
            border-color 0.1s ease;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}

.toolbar-actions > * {
  position: relative;
}

.toolbar-actions .overlap-action {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
